@charset "UTF-8"

$debug: true

#layout
  &_main_svelte
    padding: auto
    @if($debug)
      background-color: #F1F1F1
  &_links
    padding: auto
    @if($debug)
      background-color: #F1F1F1
  &_home
    padding: auto
    @if($debug)
      background-color: #F1F1F1
  &_sample
    padding: auto
    @if($debug)
      background-color: #F1F1F1
  &_not_found
    padding: auto
    @if($debug)
      background-color: #F1F1F1